<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>GamePing needs access to your local network to check the status of game servers hosted on it.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Minecraft-Bold.otf</string>
		<string>Minecraft-BoldItalic.otf</string>
		<string>Minecraft-Italic.otf</string>
		<string>Minecraft-Regular.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>background</string>
		<key>UIImageName</key>
		<string>launchscreen</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
